In [1]:
import pandas as pd
import numpy as numpy

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import pickle
import json

In [2]:
df=pd.read_csv("Job_Placement_Data.csv")
df

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed
211,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed
212,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed
213,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               215 non-null    object
 1   ssc_percentage       215 non-null    float64
 2   ssc_board            215 non-null    object
 3   hsc_percentage       215 non-null    float64
 4   hsc_board            215 non-null    object
 5   hsc_subject          215 non-null    object
 6   degree_percentage    215 non-null    float64
 7   undergrad_degree     215 non-null    object
 8   work_experience      215 non-null    object
 9   emp_test_percentage  215 non-null    float64
 10  specialisation       215 non-null    object
 11  mba_percent          215 non-null    float64
 12  status               215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

In [5]:
df.isna().sum()

gender                 0
ssc_percentage         0
ssc_board              0
hsc_percentage         0
hsc_board              0
hsc_subject            0
degree_percentage      0
undergrad_degree       0
work_experience        0
emp_test_percentage    0
specialisation         0
mba_percent            0
status                 0
dtype: int64

In [6]:
df['gender'].value_counts()

M    139
F     76
Name: gender, dtype: int64

In [7]:
df['gender'].replace({'M':0,'F':1},inplace=True)

In [8]:
df

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed
211,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed
212,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed
213,1,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed
214,0,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed

In [9]:
df['ssc_board'].value_counts()

Central    116
Others      99
Name: ssc_board, dtype: int64

In [10]:
df['ssc_board'].replace({'Central':0,'Others':1},inplace=True)

In [11]:
df['hsc_board'].value_counts()

Others     131
Central     84
Name: hsc_board, dtype: int64

In [12]:
df['hsc_board'].replace({'Central':0,'Others':1},inplace=True)

In [13]:
df['hsc_subject'].value_counts()

Commerce    113
Science      91
Arts         11
Name: hsc_subject, dtype: int64

In [14]:
df['hsc_subject'].replace({'Science':0,'Commerence':1,'Arts':2},inplace=True)

In [15]:
df['undergrad_degree'].value_counts()

Comm&Mgmt    145
Sci&Tech      59
Others        11
Name: undergrad_degree, dtype: int64

In [16]:
df['undergrad_degree'].replace({'Comm&Mgmt':0,'Sci&Tech':1,'Others':2},inplace=True)

In [17]:
df['work_experience'].value_counts()

No     141
Yes     74
Name: work_experience, dtype: int64

In [18]:
df['work_experience'].replace({'No':0,'Yes':1},inplace=True)

In [19]:
df['specialisation'].value_counts()

Mkt&Fin    120
Mkt&HR      95
Name: specialisation, dtype: int64

In [ ]:
df['specialisation'].replace({'Mkt&Fin':0,'Mkt&HR':1},inplace=True)